{% extends 'tasks/base.html' %}
{% load myfilters %}
{% load static %}
{% block content %}
<div class="container">
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">
          Вы ввели неверное имя пользователя или неверный пароль.
        </div>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
          <div class="alert alert-danger" role="alert">
              У вас не хватает прав на просмотр данной страницы.
          </div>
      {% else %}
        <div class="alert alert-primary" role="alert">
          Пожалуйста войдите чтобы увидеть эту страницу
        </div>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" style="margin-top: 100px">
    {% csrf_token %}
          <div class="form-group">
            <label for="id_username">Логин</label>
            {{ form.username|addclass:'MyClass' }}
          </div>
          <div class="form-group">
            <label for="id_password">Пароль</label>
            {{ form.password|addclass:'MyClass' }}
          </div>
    <button type="submit" class="btn btn-primary">Вход</button>
    <a class="btn btn-primary" href="{% url 'signup' %}">Зарегистрироваться</a>
    </form>
</div>
{% endblock %}
